<div id="<%= dom_id doctor %>">
  <table class="table">
    <thead class="table-dark">
    <th>Doctor Name</th>
    <th>Gender</th>
    <th>Phone</th>
    <th>Actions</th>
    </thead>
    <tbody>
    <td><%= doctor.name %></td>
    <td><%= doctor.sex %></td>
    <td><%= doctor.phone %></td>
    <td>
      <%= link_to "Edit", edit_doctor_path(@doctor),class: 'btn btn-primary' %>
      <%= link_to "Back to doctors", doctors_path, class: 'btn btn-secondary' %>
    </td>
    </tbody>
  </table>

</div>
