<p style="color: green"><%= notice %></p>

<%= render @patient_report %>

<div>
  <%= link_to "Edit this patient report", edit_patient_report_path(@patient_report) %> |
  <%= link_to "Back to patient reports", patient_reports_path %>

  <%= button_to "Destroy this patient report", @patient_report, method: :delete %>
</div>
