<p style="color: green"><%= notice %></p>
<div class="d-flex flex-row-reverse">
  <div class="p-2">
    <%= link_to "Create New Case", new_patient_case_path, class: 'btn btn-primary' %>
  </div>
</div>

<h1>Patient cases</h1>

<div id="patient_cases">

  <table class="table">
    <thead class="table-dark">
    <th>Case Id</th>
    <th>Patient Name</th>
    <th>Doctor</th>
    <th>Collection Date</th>
    <th>Reporting Date</th>
    <th>Total Amount</th>
    <th>Paid</th>
    <th>Due</th>
    </thead>
    <tbody>
    <% @patient_cases.each do |patient_case| %>
    <tr>
    <td><%= link_to patient_case.id, patient_case %></td>
    <td><%= patient_case.patient_id %></td>
    <td><%= patient_case.doctor_id %></td>
    <td><%= patient_case.collection_date.strftime("%d %B %Y, %m %p") %></td>
    <td><%= patient_case.reporting_date.strftime("%d %B %Y, %m %p") %></td>
    <td><%= patient_case.total_amount %></td>
    <td><%= patient_case.paid %></td>
    <td><%= patient_case.due %></td>
    </tr>
    <% end %>
    </tbody>
  </table>

</div>
